<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:image" content="{{ SITEURL }}/theme/images/favicon-144x144.png">
  {% block meta_og_tags %}{% endblock %}

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/styles.css">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ SITEURL }}/theme/images/favicon-32x32.png" sizes="32x32">
  <link rel="alternate" type="application/atom+xml" title="Tildes Blog" href="/all.atom.xml">

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
  {% block header %}{% endblock %}
</header>

<main>
{% block content %}{% endblock %}
</main>

<nav id="page-list">
  {% block pagelist %}{% endblock %}
</nav>

<footer>
  <ul class="site-footer">
    <li class="site-footer-item"><a href="https://tildes.net">Tildes</a></li>
    <li class="site-footer-item"><a href="https://blog.tildes.net">Blog</a></li>
    <li class="site-footer-item"><a href="https://docs.tildes.net">Docs</a></li>
  </ul>
</footer>
</body>
</html>
