{% extends "base.html" %}

{% set DOMAIN = 'docs.tildes.net' %}

{% block title %}Donate to Tildes via Stripe{% endblock %}

{% block header %}
  <a href="https://{{ DOMAIN }}">Tildes Docs</a>
{% endblock header %}

{% block content %}
  <h1>Donate to Tildes via Stripe</h1>

  <p>Please enter the amount that you'd like to donate (at least $1).</p>

  <p>Note that the donation is in Canadian Dollars (CAD) by default, but you can switch to USD if you prefer. At the moment, $10 CAD is about $8 USD.</p>

  <form method="post" action="https://tildes.net/donate_stripe">
    <input type="hidden" name="stripe_token" id="stripe_token" value="">
    <input type="hidden" name="donator_email" id="donator_email" value="">

    <label for="amount">Donation amount ($):</label>
    <input id="amount" name="amount" type="text" placeholder="Amount ($)">

    <select id="currency" name="currency">
      <option value="CAD" selected>CAD</option>
      <option value="USD">USD</option>
    </select>

    <button id="donateButton">Donate</button>
  </form>

  <div id="error_explanation"></div>

  {# TODO: using jquery for this is ridiculously overkill #}
  <script src="{{ SITEURL }}/theme/js/jquery-3.1.1.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
    var handler = StripeCheckout.configure({
        key: 'pk_live_DjgErI2jmBhXNxbHVmU6pwM2',
        name: 'Tildes',
        description: 'One-time donation',
        image: '{{ SITEURL }}/theme/images/favicon-144x144.png',
        zipCode: true,
        panelLabel: 'Donate',
        allowRememberMe: false,
        token: function(token) {
            $('input#stripe_token').val(token.id);
            $('input#donator_email').val(token.email);
            $('form').submit();
        }
    });

    $('#donateButton').click(function(event) {
        event.preventDefault();

        var amount = $('input#amount').val();
        amount = amount.replace(/\$/g, '').replace(/\,/g, '')
        amount = parseFloat(amount);

        if (isNaN(amount)) {
            $('#error_explanation').html('<p>Please enter a valid dollar amount.</p>');
        }
        else if (amount < 1.00) {
            $('#error_explanation').html('<p>Donation amount must be at least $1.</p>');
        }
        else {
            amount = amount * 100; // Needs to be an integer!
            handler.open({
                currency: $('#currency').val(),
                amount: Math.round(amount)
            })
        }
    });
  </script>
{% endblock %}

{% block pagelist %}
  <h2>Documents</h2>
  <ul>
  {% for page in pages %}
  <li>
    <a href="{{ page.url }}">{{ page.title }}</a>
    {% if page.summary %}
      <p class="summary">{{ page.summary }}</p>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
{% endblock %}
