{% extends "base.html" %}

{% set DOMAIN = 'docs.tildes.net' %}

{% block header %}
  <a href="https://{{ DOMAIN }}">Tildes Docs</a>
{% endblock header %}

{% block title %}Tildes Docs{% endblock %}

{% block content %}

<h2>Tildes Official Documentation</h2>

  <p>This section of the site is still a work in progress and as such, after you have read through it:</p>
    <ul>
    <li>If you cannot find the information you were specifically looking for, feel free to inquire about it in the <a href="https://tildes.net/~tildes">~tildes group</a> (if you have a Tildes account), in the <a href="http://old.reddit.com/r/tildes">/r/tildes subreddit</a> (if you have a reddit account), or via email to <a href="mailto:contact@tildes.net">contact@tildes.net</a>.</p>
    <li>If you have a Gitlab account and there is any information you feel is currently missing from the documentation that should be included, feel free to create a <a href="https://gitlab.com/tildes/tildes-static-sites/issues/new">new issue</a> with a suggestion about it on the <a href="https://gitlab.com/tildes/tildes-static-sites/">tildes-static-sites project</a>, or you may even contribute that missing information to the docs yourself by following the instructions in the project's <a href="https://gitlab.com/tildes/tildes-static-sites/blob/master/README.md">README.md</a> file.</p>
    </ul>

<hr>

  <h3>General</h3>
    <p><strong><a href="/donate">Donate</a></strong> to Tildes: How, to whom, and why you should.</br>
    <strong><a href="/contact">Contact</a></strong> information for Tildes.</p>

  <h3>Development</h3>
    <p><strong><a href="/dev-general-info">General Information</a></strong> on the basics of working on a development version of Tildes.</br>
    <strong><a href="/dev-setup">Setup</a></strong> guide for getting a development version of Tildes running locally.</p>

  <h3>Frequently Asked Questions</h3>
    <p><strong><a href="/faq-about">About</a></strong> the site.</br>
    <strong><a href="/faq-content">Content</a></strong> restrictions on the site.</br>
    <strong><a href="/faq-future">Future</a></strong> of the site.</br>
    <strong><a href="/faq-user-account">User Account</a></strong> related.</p>

  <h3>Features</h3>
    <p><strong><a href="/feat-mechanics-design">Mechanics &amp; Design</a></strong> - Information on the basic site mechanics and design elements currently on Tildes as well as some potential plans for their future.</br>
    <strong><a href="/feat-trust-reputation">Trust/Reputation System</a></strong> - Information about the planned Trust/Reputation system and related moderation mechanics for the site.</p>

  <h3>Goals</h3>
    <p><strong><a href="/goal-overall">Overall</a></strong> goals for the site.</br>
    <strong><a href="/goal-technical">Technical</a></strong> goals for the site.</p>

  <h3>User Guides</h3>
    <p><strong><a href="/guide-text-formatting">Text Formatting</a></strong> instructions for how use markdown in comments and text topics on Tildes.</br>
    <strong><a href="/guide-topic-tagging">Topic Tagging</a></strong> advice and details on the already established standards.</p>

  <h3>Policies</h3>
  Concise and written in plain English (not legalese), so it is highly recommended you actually read them:
  <div style="text-align: center"><strong><a href="/pol-code-of-conduct">Code of Conduct</a> - <a href="/pol-privacy-policy">Privacy Policy</a> - <a href="/pol-terms-of-use">Terms of Use</a></strong></div>


{% endblock %}

{% block pagelist %}
  <h2>Documents</h2>
  <ul>
  {% for page in pages %}
  <li>
    <a href="{{ page.url }}">{{ page.title }}</a>
    {% if page.summary %}
      <p class="summary">{{ page.summary }}</p>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
{% endblock %}
